
.c-overview
   .header
        font-family "Josefin Sans", Helvetica, sans-serif
        color #172B4D
        //position relative
    .label
        padding-right 5px
        font-weight bold
        font-family "Josefin Sans", Helvetica, sans-serif
    .bio
        line-height: 1.4
    .bio, .skillset
        margin-top 5px
    .list
        display inline
    .list-item
        margin 3px 10px
.sport-icon
    display inline block
    margin 5px
    height '8'
