row-height = 40px

list-style 
    none

.c-predictions
    .header
        font-family "Josefin Sans", Helvetica, sans-serif
        color #172B4D
   /* 
.c-discipline__content-isIndividual
    width:25%
    */
c-discipline__content-Tags
    width: 20%
    




.tags{
 
  min-width 60 px
  padding 5px 5px
  border none
  margin auto 5px
  border-radius 30px
  font normal normal bold 12px/normal "Josefin Sans", Helvetica, sans-serif
  color rgb(255, 255, 255)
  text-align center
  background linear-gradient(180deg, rgba(100,122,57,1) 0, rgba(124,188,10,1) 100%)
 
  }
.hidden {display:none !important}
.sport-icon{
    cursor pointer 
    background-color lavender
    border-radius 5px
    display inline block
    margin 5px 5px 5px 0
    height row-height
    width  row-height}


.p-home__header
    color #42526E
    max-width 600px
    margin 0 auto
    display flex
    flex-direction row
    justify-content space-between
    

