row-height = 40px

list-style 
    none

.c-predictions
    .header
        font-family "Josefin Sans", Helvetica, sans-serif
        color #172B4D
 
c-discipline__content-Tags
    width: 20%
    




.hidden {display:none !important}


.p-home__header
    color #42526E
    max-width 600px
    margin 0 auto
    display flex
    flex-direction row
    justify-content space-between
    

